{% extends 'base.html' %}

{% block title %}
 Welcome to G4US sharp
{% endblock %}


{% block content %}
<div class="modal-body row">
  <div class="col-md-6">
    <div class="service-box mt-5 mx-auto">
      <h3 class="mb-3">Weekly Posts</h3>
       {% for post in posts %}
        <ul>
          <li><a href="{% url 'detail' pk=post.pk %}">{{ post.subject }}</a></li>
        </ul>
       {% endfor %}
    </div>
  </div>
  <div class="col-md-6">
    <div class="service-box mt-5 mx-auto">
      <h3 class="mb-3">Ebooks on offer</h3>
     <!-- {% for ebook in ebooks %}
        <ul>
          <li><a href="#">{{ ebook.name }}</a></li>
        </ul>
       {% endfor %}-->
    </div> 
  </div>
  <!--<div class="col-md-4">
     <div class="service-box mt-5 mx-auto">
      <h3 class="mb-3">Online Courses</h3>
      <p class="text-muted mb-0"></p>
    </div> 
  </div>-->
</div>
{% endblock %}